*.class

#package file

*.war
*.ear

#kdff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file

*.log
*.cache
*.diff
*.patch
*.tmp

#mybatis-demo01
/mybatis-demo01/*iml
/mybatis-demo01/target

#mybatis-pro
/mybatis-pro/*iml
/mybatis-pro/target

#Spring-demo1
/Spring-demo1/*iml
/Spring-demo1/target

#system ignore
.DS_Store


/out